# Binaries
bin/
*.exe

# Go build artifacts
*.o
*.a
*.so

# Test
coverage.out
*.test

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Goreleaser
dist/

# Dependencies
vendor/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
